.item {
  background: #f9f9f9;
  // background: #43C6AC;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to bottom, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to bottom, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid $item-border;
  margin-bottom: $space;
  padding: $space;
}

.item__message {
  // color: $item-text-color;
}

.item__status-message {
  // color: $item-text-color;
  font-style: italic;
  text-align: center;
  margin: 0;
}
